<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<h1>filter</h1>
<p>Gets movies from the list with <span th:text="${amount}"> </span> <span th:text="${character}"></span>'s </p>

<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Length </th>
        <th> Title </th>
        <th> Subject </th>
        <th> Popularity </th>
        <th> Awards </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${movies.empty}">
        <td colspan="2"> No MovieFacts Available </td>
    </tr>
    <tr th:each="movie : ${movies}">
        <td><span th:text="${movie.year}"> Year </span></td>
        <td><span th:text="${movie.length}"> Length </span></td>
        <td><span th:text="${movie.title}"> Title</span></td>
        <td><span th:text="${movie.subject}"> Subject</span></td>
        <td><span th:text="${movie.popularity}"> Popularity</span></td>
        <td><span th:text="${movie.awards}"> Awards</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>